<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="resources/css/bootstrap.min.css">
  <script src="resources/js/jquery.min.js"></script>
  <script src="resources/js/bootstrap.min.js"></script>
<!--  <script type="text/javascript" src="main.js"></script>-->
  <style type="text/css">

  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    </div>
  </nav>
  <div class="container">
    {% block main_content %}
    {% endblock %}
  </div>


  <script type="text/javascript">
    $(document).ready(function() {



    });
  </script>
</body>
</html>