{% extends 'base.html' %}
{% block header %}

{% endblock %}

{% block main_content %}
<div id="player_panel">
    <div class="panel panel-default">
        <!--        <div class="panel-heading">-->
        <!--            `+header+ ((del) ? `<span class="glyphicon glyphicon-remove"-->
        <!--                                      onclick="$(this).parent().parent().remove(); resize_panels();"></span>` : ``) +-->
        <!--            `-->
        <!--        </div>-->
        <div class="panel-body">
        	<div id="library_song_listing">
        		<table class="table"></table>
        	</div>
    	</div>
    	<div class="panel-footer"><button id='library-add-button' class="btn btn-default">Add</button></div>
    </div>
</div>
<script>
$(document).ready(function(){
    //pywebview.api.get_list().then(function(response){$('#library_song_listing').value = response;});
	$('#library-add-button').click(function(){
	    pywebview.api.add_new_button().then(function(){
	    	pywebview.api.get_list().then(function(response){
	    		jQuery(function($){
					$('.table').footable({
						"columns": [
							{ "name": "Title", "title": "Title" },
							{ "name": "Artists", "title": "Artists"},
							{ "name": "Album", "title": "Album" },
							{ "name": "Duration", "title": "Duration"}
						],
						"rows": JSON.parse(response)
						});
					});
	    		// $('#library_song_listing').append(
	    			// JSON.parse(response)
	    			// );
	    		// console.log(response);

	    	})
	    })
	});
	
});
</script>

{% endblock %}